<% provide(:title, "Contact") %>


<h1>Contact</h1>
<p>
  Contact the on the Ruby on Rails Tutorial about the sample app at
  <a href="http://www.railstutorial.org/#contact">Rails tutorial contact section</a>.
</p>
