<% provide(:title, "Help") %>


<h1>Help</h1>
<p>
  Get help on the Ruby on Rails Tutorial at
  <a href="http://www.railstutorial.org/#help" target="_blank">Rails tutorial help section</a>.
  To get help on the sample app, see
  <a href="http://www.railstutorial.org/book" target="_blank"><em>Ruby on rails tutorial</em></a>
  book. Now just running a change!
</p>
